/* Write your CSS code here */
.outerNotFound {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.image {
  width: 100%;
}
